@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .etp-input {
    @apply mt-2 appearance-none block w-full px-3 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slowfade-enter-active,
.slowfade-leave-active {
  transition: opacity 1.5s ease;
}

.slowfade-enter-from,
.slowfade-leave-to {
  opacity: 0;
}

.slowerfade-enter-active,
.slowerfade-leave-active {
  transition: opacity 3s ease;
}

.slowerfade-enter-from,
.slowerfade-leave-to {
  opacity: 0;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-4000 {
    animation-delay: 4000ms;
  }
}
